$bg: #f7fafc;

.App {
  font-family: "Kadwa", serif;
  color: #2d3748;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.about {
  background-color: $bg;
}

.technologies {
  background-color: $bg;
}

.projects {
  background-color: $bg;
}

.contact {
  background-color: $bg;
}
